@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  border: 1px solid green;
  font-size: 30px;
}
